.footer-menu {
    display: flex;
    margin-top: 12px;
}

.footer-menu li {
    color: white;
    margin-right: 20px;
}

.social-media-icons img {
    margin-left: 12px;
}

.social-media {
    text-align: end;
}

.gambar-phone {
    position: relative;
    bottom: 120px;
}

@media only screen and (max-width: 600px) {
    .gambar-phone {
        position: relative;
        bottom: 80px;
    }
    .social-media-icons img {
        margin-left: 2px;
        width: 5vh;
    }
    .footer-menu li {
        color: white;
        margin-right: 0px;
    }
}